.sidebar {
  border-radius: 20px;
  display: flex;
  background-color: #fff;
  padding: 70px 20px;
  width: 400px;
  .left {
    padding-right: 20px;
    .icon {
      width: 90px;
      height: 70px;
      margin-bottom: 20px;
      text-align: center;
      border: #d8d8d8 solid 1px;
      border-radius: 3px;
      padding: 10px;
      img {
        width: 80%;
      }
      .sidetext {
        margin: 0px;
        font-size: small;
      }
    }
    :hover {
      background-color: #d8d8d8;
    }
  }
  .right {
    border-left: solid 1px #d8d8d8;
    padding-left: 20px;
    width: calc(100% - 130px);
    .uploadPage {
      .title {
        text-align: center;
      }
    }
    .buttonType {
      background-color: blue;
      color: white;
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;
      border: none;
      width: 100px;
    }
    .garmentPage {
      .selColor {
        margin-bottom: 10px;
        display: flex;
        p {
          margin: 0px;
        }
      }
      .current {
        display: flex;
      }
      .color {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }
      .color:hover {
        scale: 1.1;
      }
      .selCurColor {
        border: solid 2px red;
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }
    }
  }
}
